@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    padding: 10px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

    background-color: #b4c5e4;
}

.container {
    width: 850px;
    padding: 30px 35px 35px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, .1);
}

.container.disable .editor-panel,
.container.container.disable .controls .reset-filter,
.container.disable .controls .download-img {
    opacity: .5;
    pointer-events: none;
}

.container h2 {
    margin-top: -8px;
    font-size: 22px;
    font-weight: 500;
}

.container .wrapper {
    display: flex;
    margin: 20px 0px;
    min-height: 335px;
}

.wrapper .editor-panel {
    padding: 15px 20px;
    width: 280px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.editor-panel .title {
    display: block;
    font-size: 16px;
    justify-content: center;
}

.editor-panel .options,
.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.editor-panel button {
    outline: none;
    height: 40px;
    font-size: 14px;
    color: #6C757D;
    background: #fff;
    border-radius: 3px;
    margin-bottom: 8px;
    border: 1px solid #aaa;
}

.editor-panel .filter button {
    width: calc(100%/2 - 4px);
}

.editor-panel button:hover {
    background: #f5f5f5;
    cursor: pointer;
}

.filter button.active {
    color: #fff;
    border-color: #5372f0;
    background: #5372F0;
}

.filter .slider {
    margin-top: 12px;
}

.filter .slider .filter-info {
    display: flex;
    color: #464646;
    font-size: 14px;
    justify-content: space-between;
}

.filter .slider input {
    width: 100%;
    height: 5px;
    accent-color: #5372F0;
}

.editor-panel .rotate {
    margin-top: 17px;
}

.editor-panel .rotate button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100%/4 - 3px);
}

.rotate .options button:nth-child(3),
.rotate .options button:nth-child(4) {
    font-size: 18px;
}

.rotate .options button:active {
    color: #fff;
    background: #5372F0;
    border-color: #5372f0;
}

.wrapper .preview-img {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    margin-left: 20px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.preview-img img {
    max-width: 490px;
    max-height: 335px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.controls button {
    padding: 11px 20px;
    font-size: 14px;
    border-radius: 3px;
    outline: none;
    color: #fff;
    cursor: pointer;
    background: none;
    transition: all 0.3s each;
    text-transform: uppercase;
}

.controls .reset-filter {
    color: #6C757D;
    border: 1px solid #6C757D;
    margin: 20px;
    border-radius: 10px;
}

.controls .reset-filter:hover {
    background: #c7cfd6;
    color: #5372F0;
    cursor: pointer;
    border: 1px solid #5372f0;
}

.controls .choose-img {
    background: #6C757D;
    border: 1px solid #6C757D;
    margin: 20px;
    border-radius: 10px;
}

.controls .download-img {
    margin-left: 5px;
    margin: 20px;
    background: #5372F0;
    border: 1px solid #5372F0;
    border-radius: 10px;
}